@import '../toolbox.scss';

header {
  font-family: $secondaryFont;
  text-align: center;
  font-size: 26px;

  a {
    text-decoration: none;
  }

  $dotSize: 8px;

  span {
    color: $primaryColor;
    display: inline-block;
    padding: $dotSize / 2 $dotSize;
    position: relative;

    &:before {
      content: '';
      width: $dotSize;
      height: $dotSize;
      position: absolute;
      top: $dotSize * 2;
      left: -$dotSize / 2;
      background: $primaryColor;
      border-radius: $dotSize;
    }

    &:after {
      content: '';
      width: $dotSize;
      height: $dotSize;
      position: absolute;
      top: $dotSize * 2;
      right: -$dotSize / 2;
      background: $primaryColor;
      border-radius: $dotSize;
    }
  }
}
