@import '../../../palette';

.jumbo {
  padding: 4%;

  .jumbo__content {
    margin: 8px 0;
  }

  h1 {
    color: $color5;
    font-family: 'Roboto Slab', serif;
    font-size: 64px;
  }

  p {
    color: $color2;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
  }
}
