@import '../toolbox.scss';

.navigator {
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
  }
}

$pillHighlightBorder: 1px inset $secondaryColor;
$pillHighlightShadow: inset 0.5px 0.5px 2px 1px $secondaryColor;

.pill {
  color: $secondaryColor;
  stroke: $secondaryColor;
  fill: $secondaryColor;
  font-size: 1em;
  font-family: $secondaryFont;
  padding: $spacing / 2;
  margin: $spacing / 2;
  text-align: center;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: pointer;
    border: $pillHighlightBorder;
  }

  &.-highlighted {
    color: $primaryColor;
    border: $pillHighlightBorder;
    box-shadow: $pillHighlightShadow;
    stroke: $primaryColor;
    fill: $primaryColor;
  }

  .pill__icon {
    display: block;
    margin: auto;
    width: 3em;
    height: 3em;

    svg {
      stroke-width: 0;
      stroke: inherit;
      fill: inherit;
    }
  }

  p {
    color: inherit;
    padding-bottom: $spacing / 4;
  }
}
