@import './reset';

@import './components/toolbox.scss';


html {
  font-size: 14px;

  @media (max-width: $small) {
    font-size: 16px;
  }

  @media (max-width: $medium) {
    font-size: 18px;
  }
}
