/* Coolors Exported Palette - coolors.co/161418-7b777c-b9b7b9-989698-3c3a3e */
/* source photo https://twitter.com/archillect/status/838532092111818756 */

/* HSL */
$color1: hsla(270%, 9%, 9%, 1); /* EERIE BLACK */
$color2: hsla(288%, 2%, 48%, 1); /* SONIC SILVER */
$color3: hsla(300%, 1%, 72%, 1); /* GRAY (X11 GRAY) */
$color4: hsla(300%, 1%, 59%, 1); /* SPANISH GRAY */
$color5: hsla(270%, 3%, 24%, 1); /* BLACK OLIVE */

/* RGB */
$color1: rgba(22, 20, 24, 1);
$color2: rgba(123, 119, 124, 1);
$color3: rgba(185, 183, 185, 1);
$color4: rgba(152, 150, 152, 1);
$color5: rgba(60, 58, 62, 1);

$white: #FFF;

$small: 425px;
$medium: 768px;

$spacing: 2em;
