@import '../../../palette';

.footer {
  float: right;
  padding: 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: $color3;

  p {
    margin-top: 4px;
    margin-right: 16px;
  }

  a {
    text-decoration: underline;
    color: $color2;

    &:hover {
      cursor: pointer;
    }
  }
}
